.total-filter {
  .total {
    color: black;
    font-size: 14px;
    @include media-breakpoint-up(sm) {
      font-size: 16px;
    }
    div {
      margin-top: auto;
      margin-bottom: auto;
    }
  }
  .active-filters span :not(:first-child) button {
    margin-top: 3px;
  }
  .active-filters {
    padding-top: 16px;
    .badge {
      color: white;
      font-size: 12px;
      font-weight: normal;
      line-height: 1.5;
      padding: 4px 8px;
      margin-right: 10px;
      border-radius: 2px!important;
      &:hover {
        background: #00000011!important;
        color: black;
        border-color: #00000011!important;
      }
      i {
        margin-left: 5px;
      }
  
      button {
        line-height: 1;
        padding: 0 0 0 0.5rem;
      }
    }
  }
  .btn-total {
    font-size: 14px;
    @include media-breakpoint-up(sm) {
      font-size: 16px;
    }
    .checkbox {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
    .checkbox.active {
      .passed {
        display: none;
      }
      .upcoming {
        cursor: pointer;
        &:hover {
          filter: brightness(70%);
        }
      }
    }
    .checkbox.inactive {
      .passed {
        display: inline-block;
        cursor: pointer;
        &:hover {
          filter: brightness(70%);
        }
      }
      .upcoming {
        display: none;
      }
    }
  }
  
}
