.contribute {
  .btn {
    color: #41acdd;
    background-color: transparent;
    border-color: #41acdd;
    border-radius: 2px;
    font-size: 12px;
    @media (min-width: 575px) {
    font-size: 14px;
    }
    .oa-logo {
        width: 20px;
    }
    &:hover {
        box-shadow: none;
    }
  }
  .btn:not(:disabled):not(.disabled):active,
  .btn-:not(:disabled):not(.disabled).active {
    background-color: white;
    color: #41acdd;
  }

}
.export ~ .contribute {
  margin-top: 0.5rem;
}
.about {
  .btn {
    color: #41acdd;
    background-color: transparent;
    font-size: 12px;
    border: none;
    .oa-logo {
      width: 20px;
    }
    &:hover {
      box-shadow: none;
    }
  }
  .btn:not(:disabled):not(.disabled):active,
  .btn-:not(:disabled):not(.disabled).active {
  background-color: white;
  color: #41acdd;
  }
}