.event-page {
  h1 {
    color: #000000;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    @media (min-width: 768px) and (max-width:991px) {
      font-size:25px;
    }
    @media (min-width: 992px) {
      font-size:40px;
    }
  }

  .img-fluid {
    margin-top: 50px;
    border-radius: 2px;
  }

  .image-container {
    display: inline-block;
    overflow: hidden;
  }
  
  .credit {
    font-size: 14px;
    padding: 5px 0;
  }

  .event-description {
    margin-top: 50px;
    margin-bottom: 0;
    font-size: 14px;
    @include media-breakpoint-up(md) {
      font-size:16px;
    }
  }

  .event-text {
    color: #000000;
    font-size: 14px;
    white-space: pre-line;
    margin-top: 25px;
    @include media-breakpoint-up(md) {
      font-size:16px;
    }
    p {
      margin-bottom: 0!important;
    }
    ul {
      line-height: 0;
    }
    li {
      line-height: 1.6em;
    }
  } 
 
  .additional-fields {
    p {
      margin: 0;
    }
    img {
      max-width: 100%;
    }
    .label {
      font-weight: 600;
    }
  }
  .event-details div:first-child,
  .additional-fields div:first-child {
    margin-top: 1rem !important;
  }
  .event-details,
  .additional-fields {
    word-break: break-word;
    border-radius: 2px;
    margin: 2em auto;
    padding: 1em 3em;
    color: black;
    @media (min-width: 768px) {
      padding: 2em 3em;
    }
    .details-icon {
      width: 17px;
      margin-right: 20px;
    }
    a:hover {
      text-decoration: underline;
    }
  }
  .event-details.p-noshadow {
    padding: 1em 3em 0 3em;
  }
  .additional-fields.p-noshadow{
    padding: 0 3em 1em 3em;
  }
  .event-details,
  .additional-fields {
    font-size: 14px;
    @media (min-width: 768px) {
      font-size: 16px;
    }
  }
  .conditions .details-icon {
    width: 19px;
  }
  .phone .details-icon,
  .email .details-icon {
    width: 20px;
  }

  .event-location-name {
    font-weight: 600;
    margin-bottom: 2px;
  }
  .event-location-adress {
    margin-bottom: 25px;
  }
  .event-phone {
    margin-bottom: 2px;
  }


  @include media-breakpoint-up(sm) {
    .event-details,
    .additional-fields {
      width: 80%;

    }
  }
}