.event-list-item {
  background-color: white;
  border-radius: 2px;
  a {
    color: black;
  }

  .img-cover-event-col {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .line {
    .img-container {
      display: flex;
      justify-content: center;
      overflow: hidden;
      max-height: 200px;
      img {
        object-fit: cover;
        width: 100%;
      }
    }
  }
  
  .featured,
  .category {
    height: 28px;
    padding: 0 15px;
    position: absolute;
    top: 0;
    right: 0; 
    display: table;
    z-index: 1;
    p {
      text-align:center; 
      vertical-align: middle;
      display: table-cell;
    }
  }
  .featured {
    top: 0;
  }
  .category {
    top: 142px;
  }
  .category-line {
    top: auto;
    bottom: 0;
  }
  .top-border {
    border-top: 1px solid #00000026;
  }
  .text-event-cover-col {
    .date {
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 0.5em;
    }
    .event-description,
    .event-age {
      font-size: 12px;
    }
    .event-title {
      font-size: 14px;
      margin-bottom: 1rem;
    }
    .event-title-bold {
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 1rem;
    }
    .event-location,
    .event-more {
      font-size: 12px;
      margin-top: auto;
      margin-bottom: 0px;
      color: #545454;
    }
    .event-age,
    .event-more {
      margin-bottom: 0.5em;
    }
  }
  .event-cover-row{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 120px;
    @media (min-width: 575px) and (max-width: 767px) {
      min-height: 155px;
    }
    @media (min-width: 768px) and (max-width: 1199px) {
      min-height: 140px;
    }
    @media (min-width: 1200px) {
      min-height: 130px;
    }
  }
} 