.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: none!important;
  outline: none!important;
  border: 1px solid #00000026;
}
.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
  background-color: white;
}

#young-audience {
  vertical-align: middle;
}

.sidebar-wrapper {
  padding-top: 15px;
  .filters-padding {
    padding: 0;
    // px-0 px-sm-2 px-lg-1
    @media (min-width: 576px){
      padding-left: 0.5rem !important;
      padding-right: 0.5rem!important;
    }
    @media (min-width: 992px) {
      padding-left: 0.25rem !important;
      padding-right: 0.25rem!important;
    }
  }
  .button-m {
    min-width: 100%;
    @media (min-width: 494px) {
      max-width: 92%;
      min-width: 92%;
    }
    @media (min-width: 495px) and (max-width: 767px){
      max-width: 94%;
      min-width: 94%;
    }
    @media (min-width: 768px) and (max-width: 991px){
      max-width: 94%;
      min-width: 94%;
    }
  }
  
  .dropdown-toggle {
    border-radius: 2px;
    border: none;
    background-color: white;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
    @include media-breakpoint-up(sm) {
      height: 50px;
    }
    &::after {
      display: none;
    }
    p {
      font-size: 14px;
      color: black;
      @include media-breakpoint-up(sm) {
        font-size: 16px;
      }
    }
    img {
      width: 16px;
      @include media-breakpoint-up(sm) {
        width: auto;
      }
    }
    
  }
  
  #filter,
  #calendar,
  #city,
  #participation,
  #keywords {
    .dropdown-toggle {
      @media (min-width: 768px) and (max-width: 991px) {
        padding-left: 10px;
      }
    }

  }
  #filter,
  #calendar,
  #city,
  #participation,
  #keywords,
  #searchbar {
    min-width: 232px;
    margin-bottom: 8px;
    @include media-breakpoint-up(sm) {
      margin-bottom: 15px;
    }
  }
  
  #searchbar {
    img {
      position: absolute;
      top: 10px;
    }
    .input-group {
      margin: 0px!important;
      justify-content: end;
      .form-control {
        height: 39px;
        border: none;
        background: none;
        box-shadow: none;
        @include media-breakpoint-up(sm) {
          height: 50px;
        }
        &::-webkit-search-decoration,
        &::-webkit-search-cancel-button,
        &::-webkit-search-results-button,
        &::-webkit-search-results-decoration {
          display: none;
        }
        &::placeholder {
          color: black;
          margin-left: 16px;
          font-size: 14px;
          @include media-breakpoint-up(sm) {
            font-size: 16px;
          }
        }
      }
      .input-group-append {
        display: none;
      }
    }
  }
  #searchbar {
    .dropdown-s-nm {
      min-width: 100%;
      @media (min-width: 494px) {
        max-width: 94%;
        min-width: 94%;
      }
      @media (min-width: 712px) and (max-width: 991px){
        max-width: 98%;
        min-width: 98%;
      }
      @media (min-width: 712px) and (max-width: 943px){
        max-width: 98%;
        min-width: 98%;
      }
      @media (min-width: 944px) and (max-width: 1170px){
        max-width: 94%;
        min-width: 94%;
      }
      @media (min-width: 1171px) {
        max-width: 96%;
        min-width: 96%;
      }
      
    }
  }
}
#searchbaronly {
  margin-bottom: 15px;
  .dropdown-toggle {
    border-radius: 2px;
    border: none;
    background-color: white;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
    @include media-breakpoint-up(sm) {
      height: 50px;
    }
    &::after {
      display: none;
    }
    p {
      font-size: 14px;
      color: black;
      @include media-breakpoint-up(sm) {
        font-size: 16px;
      }
    }
    img {
      width: 16px;
      @include media-breakpoint-up(sm) {
        width: auto;
      }
    }
  }
  img {
    position: absolute;
    top: 10px;
  }
  .input-group {
    margin: 0px!important;
    justify-content: end;
    .form-control {
      height: 39px;
      border: none;
      background: none;
      box-shadow: none;
      @include media-breakpoint-up(sm) {
        height: 50px;
      }
      &::-webkit-search-decoration,
      &::-webkit-search-cancel-button,
      &::-webkit-search-results-button,
      &::-webkit-search-results-decoration {
        display: none;
      }
      &::placeholder {
        color: black;
        margin-left: 16px;
        font-size: 14px;
        @include media-breakpoint-up(sm) {
          font-size: 16px;
        }
      }
    }
    .input-group-append {
      display: none;
    }
  }
  
  .button-m {
    img {
      @media (max-width: 338px) {
        left: 6%;
      }
      @media (min-width: 339px ) and (max-width: 490px) {
        left: 4%;
      }
      @media (min-width: 491px ) and (max-width: 575px) {
        left: 3%;
      }
      @media (min-width: 576px ) and (max-width: 762px) {
        left: 4%;
      }
      @media (min-width: 763px ) and (max-width: 1055px) {
        left: 3%;
      }
      @media (min-width: 1056px ) and (max-width: 2000px) {
        left: 3%;
      }
      @media (min-width: 2001px) {
        left: 2%;
      }
    }
    div {
      .input-group {
        .form-control {
          @media (max-width: 299px) {
            max-width:84%;
          }
          @media (min-width: 300px ) and (max-width: 345px) {
            max-width: 85%;
          }
          @media (min-width: 346px ) and (max-width: 420px) {
            max-width: 89%;
          }
          @media (min-width: 421px ) and (max-width: 453px) {
            max-width: 90%;
          }
          @media (min-width: 454px ) and (max-width: 493px) {
            max-width: 91%;
          }
          @media (min-width: 494px ) and (max-width: 575px) {
            max-width: 92%;
          }
          @media (min-width: 576px ) and (max-width: 767px) {
            max-width: 91%;
          }
          @media (min-width: 768px ) and (max-width: 1040px) {
            max-width: 94%;
          }
          @media (min-width: 1041px) and (max-width: 1700px){
            max-width: 95%;
          }
          @media (min-width: 1701px){
            max-width: 95%;
          }
        }
      }
    }
  }
  .button-nm {
    img {
      @media (max-width: 338px) {
        left: 6%;
      }
      @media (min-width: 339px ) and (max-width: 490px) {
        left: 4%;
      }
      @media (min-width: 491px ) and (max-width: 575px) {
        left: 3%;
      }
      @media (min-width: 576px ) and (max-width: 762px) {
        left: 3%;
      }
      @media (min-width: 763px ) and (max-width: 1055px) {
        left: 1%;
      }
      @media (min-width: 1056px ) and (max-width: 2000px) {
        left: 1%;
      }
      @media (min-width: 2001px) {
        left: 1%;
      }
    }
    div {
      .input-group {
        .form-control {
          @media (max-width: 299px) {
            max-width:84%;
          }
          @media (min-width: 300px ) and (max-width: 345px) {
            max-width: 85%;
          }
          @media (min-width: 346px ) and (max-width: 420px) {
            max-width: 89%;
          }
          @media (min-width: 421px ) and (max-width: 453px) {
            max-width: 90%;
          }
          @media (min-width: 454px ) and (max-width: 493px) {
            max-width: 91%;
          }
          @media (min-width: 494px ) and (max-width: 575px) {
            max-width: 92%;
          }
          @media (min-width: 576px ) and (max-width: 767px) {
            max-width: 91%;
          }
          @media (min-width: 768px ) and (max-width: 880px) {
            max-width: 94%;
          }
          @media (min-width: 881px ) and (max-width: 1145px) {
            max-width: 95%;
          }
          @media (min-width: 1146px) and (max-width: 1455px){
            max-width: 96%;
          }
          @media (min-width: 1456px) and (max-width: 1700px){
            max-width: 96.5%;
          }
          @media (min-width: 1701px){
            max-width: 97%;
          }
        }
      }
    }  
  }
}

//Style if only one search bar
.sidebar-wrapper {
  .button-nm {
    max-width: 100%;
    min-width: 100%;
    @media (min-width: 494px) {
      max-width: 98%;
      min-width: 96%;
    }
    @media (min-width: 495px) and (max-width: 711px){
      max-width: 94%;
      min-width: 94%;
    }
    @media (min-width: 712px) and (max-width: 943px){
      max-width: 99%;
      min-width: 95%;
    }
    @media (min-width: 944px) and (max-width: 1170px){
      max-width: 96%;
      min-width: 93%;
    }
    @media (min-width: 1171px) {
      max-width: 96%;
      min-width: 96%;
    }
    
    img {
      @media (max-width: 338px) {
        left: 7%;
      }
      @media (min-width: 339px ) and (max-width: 490px) {
        left: 4%;
      }
      @media (min-width: 491px ) and (max-width: 575px) {
        left: 5%;
      }
      @media (min-width: 576px ) and (max-width: 762px) {
        left: 3%;
      }
      @media (min-width: 763px ) and (max-width: 1055px) {
        left: 2%;
      }
      @media (min-width: 1056px ) and (max-width: 2000px) {
        left: 2%;
      }
      @media (min-width: 2001px) {
        left: 2%;
      }
    }
    .form-control {
      @media (max-width: 299px) {
        max-width:84%;
      }
      @media (min-width: 300px ) and (max-width: 345px) {
        max-width: 85%;
      }
      @media (min-width: 346px ) and (max-width: 420px) {
        max-width: 88%;
      }
      @media (min-width: 421px ) and (max-width: 453px) {
        max-width: 90%;
      }
      @media (min-width: 454px ) and (max-width: 493px) {
        max-width: 91%;
      }
      @media (min-width: 494px ) and (max-width: 575px) {
        max-width: 92%;
      }
      @media (min-width: 576px ) and (max-width: 767px) {
        max-width: 91%;
      }
      @media (min-width: 768px ) and (max-width: 1040px) {
        max-width: 94%;
      }
      @media (min-width: 1041px) and (max-width: 1700px){
        max-width: 96%;
      }
      @media (min-width: 1701px){
        max-width: 96%;
      }
    }
  }
}
.sidebar-wrapper.container-fluid {
  @media (min-width: 496px){
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
  }
}

li.show {
  min-width: 100%;
  @media (min-width: 576px ) {
    max-width: 150%;
    min-width: 95%;
  }
  .btn {
    font-size: 14px;
    padding: 6px 0;
    margin: 0px 22px;
  }
}

//Style if two filters with one is search bar

.sidebar-wrapper {
  #searchbar.two_filters {
    .button-m {
      img {
        @media (max-width: 338px) {
          left: 6%;
        }
        @media (min-width: 339px ) and (max-width: 493px) {
          left: 4%;
        }
        @media (min-width: 494px ) and (max-width: 575px) {
          left: 9%;
        }
        @media (min-width: 576px ) and (max-width: 711px) {
          left: 8%;
        }
        @media (min-width: 712px ) and (max-width: 767px) {
          left: 8%;
        }
        @media (min-width: 768px ) and (max-width: 991px) {
          left: 6%;
        }
        @media (min-width: 992px ) and (max-width: 2000px) {
          left: 5%;
        }
        @media (min-width: 2001px) {
          left: 5%;
        }
      }
      .form-control {
        @media (max-width: 299px) {
          max-width:83%;
        }
        @media (min-width: 300px ) and (max-width: 335px) {
          max-width: 85%;
        }
        @media (min-width: 336px ) and (max-width: 345px) {
          max-width: 86%;
        }
        @media (min-width: 346px ) and (max-width: 420px) {
          max-width: 89%;
        }
        @media (min-width: 421px ) and (max-width: 453px) {
          max-width: 90%;
        }
        @media (min-width: 454px ) and (max-width: 493px) {
          max-width: 91%;
        }
        @media (min-width: 494px ) and (max-width: 515px) {
          max-width: 81%;
        }
        @media (min-width: 516px ) and (max-width: 575px) {
          max-width: 83%;
        }
        @media (min-width: 576px ) and (max-width: 711px) {
          max-width: 80%;
        }
        @media (min-width: 712px ) and (max-width: 767px) {
          max-width: 83%;
        }
        @media (min-width: 768px ) and (max-width: 943px) {
          max-width: 85%;
        }
        @media (min-width: 944px ) and (max-width: 1280px) {
          max-width: 90%;
        }
        @media (min-width: 1056px) and (max-width: 1500px){
          max-width: 91%;
        }
        @media (min-width: 1501px) and (max-width: 2000px){
          max-width: 91%;
        }
        @media (min-width: 2001px){
          max-width: 91%;
        }
      }
    }
    .dropdown-s-nm {
      img {
        @media (max-width: 338px) {
          left: 6%;
        }
        @media (min-width: 339px ) and (max-width: 493px) {
          left: 4%;
        }
        @media (min-width: 494px ) and (max-width: 575px) {
          left: 9%;
        }
        @media (min-width: 576px ) and (max-width: 711px) {
          left: 8%;
        }
        @media (min-width: 712px ) and (max-width: 943px) {
          left: 6%;
        }
        @media (min-width: 944px ) and (max-width: 1055px) {
          left: 5%;
        }
        @media (min-width: 1056px ) and (max-width: 1500px) {
          left: 5%;
        }
        @media (min-width: 1501px ) and (max-width: 2000px) {
          left: 3%;
        }
        @media (min-width: 2001px) {
          left: 3%;
        }
      }
      .form-control {
        @media (max-width: 299px) {
          max-width:83%;
        }
        @media (min-width: 300px ) and (max-width: 335px) {
          max-width: 85%;
        }
        @media (min-width: 336px ) and (max-width: 345px) {
          max-width: 86%;
        }
        @media (min-width: 346px ) and (max-width: 420px) {
          max-width: 89%;
        }
        @media (min-width: 421px ) and (max-width: 453px) {
          max-width: 90%;
        }
        @media (min-width: 454px ) and (max-width: 493px) {
          max-width: 91%;
        }
        @media (min-width: 494px ) and (max-width: 515px) {
          max-width: 81%;
        }
        @media (min-width: 516px ) and (max-width: 575px) {
          max-width: 83%;
        }
        @media (min-width: 576px ) and (max-width: 711px) {
          max-width: 80%;
        }
        @media (min-width: 712px ) and (max-width: 767px) {
          max-width: 83%;
        }
        @media (min-width: 768px ) and (max-width: 943px) {
          max-width: 85%;
        }
        @media (min-width: 944px ) and (max-width: 1280px) {
          max-width: 90%;
        }
        @media (min-width: 1056px) and (max-width: 1500px){
          max-width: 91%;
        }
        @media (min-width: 1501px) and (max-width: 2000px){
          max-width: 93%;
        }
        @media (min-width: 2001px){
          max-width: 94%;
        }
      }
    }
  }
}

.two_filters {
  .button-m {
    @media (min-width: 768px) and (max-width: 991px){
      max-width: 96%;
      min-width: 96%;
    }
    @media (min-width: 992px){
      max-width: 96%;
      min-width: 96%;
    }
  }
  .button-nm {
    @media (min-width: 768px) and (max-width: 991px){
      max-width: 97%;
      min-width: 97%;
    }
    @media (min-width: 992px){
      max-width: 98%;
      min-width: 98%;
    }
  }
  .dropdown-s-nm {
    @media (min-width: 712px) and (max-width: 991px){
      max-width: 96%!important;
      min-width: 96%!important;
    }
    @media (min-width: 992px) and (max-width: 1400px){
      max-width: 97%!important;
      min-width: 97%!important;
    }
    @media (min-width: 1401px) {
      max-width: 98%!important;
      min-width: 98%!important;
    }
  }
}
.last_child {
  .button-m {
    @media (min-width: 768px) and (max-width: 991px){
      max-width: 96%;
      min-width: 96%;
    }
  }
}
.for_filters {
  .button-m {
    @media (min-width: 768px) and (max-width: 991px){
      max-width: 98%!important;
      min-width: 98%!important;
    }
  }
  .button-nm {
    @media (min-width: 712px) and (max-width: 943px){
      max-width: 98%!important;
      min-width: 98%!important;
    }
  }
}
.for_last_child {
  .button-m {
    @media (min-width: 768px) and (max-width: 991px){
      max-width: 98%!important;
      min-width: 98%!important;
    }
    .form-control {
      @media (max-width: 299px) {
        max-width:84%;
      }
      @media (min-width: 300px ) and (max-width: 345px) {
        max-width: 86%;
      }
      @media (min-width: 346px ) and (max-width: 420px) {
        max-width: 88%;
      }
      @media (min-width: 421px ) and (max-width: 453px) {
        max-width: 90%;
      }
      @media (min-width: 454px ) and (max-width: 493px) {
        max-width: 91%;
      }
      @media (min-width: 494px ) and (max-width: 515px) {
        max-width: 81%;
      }
      @media (min-width: 516px ) and (max-width: 575px) {
        max-width: 82%;
      }
      @media (min-width: 576px ) and (max-width: 711px) {
        max-width: 79%;
      }
      @media (min-width: 712px ) and (max-width: 767px) {
        max-width: 80%;
      }
      @media (min-width: 768px ) and (max-width: 943px) {
        max-width: 93%;
      }
      @media (min-width: 944px ) and (max-width: 991px) {
        max-width: 93%;
      }
      @media (min-width: 992px) and (max-width: 1700px){
        max-width: 78%;
      }
      @media (min-width: 1701px){
        max-width: 79%;
      }
    }
    img {
      @media (max-width: 338px) {
        left: 7%;
      }
      @media (min-width: 339px ) and (max-width: 493px) {
        left: 4%;
      }
      @media (min-width: 494px ) and (max-width: 575px) {
        left: 9%;
      }
      @media (min-width: 576px ) and (max-width: 711px) {
        left: 8%;
      }
      @media (min-width: 712px ) and (max-width: 767px) {
        left: 8%;
      }
      @media (min-width: 768px ) and (max-width: 991px) {
        left: 3%;
      }
      @media (min-width: 992px ) and (max-width: 2000px) {
        left: 10%;
      }
      @media (min-width: 2001px) {
        left: 10%;
      }
    }
  }
  .button-nm {
    @media (min-width: 712px) and (max-width: 943px){
      max-width: 98%!important;
      min-width: 98%!important;
    }
  }
  .dropdown-s-nm {
    .form-control {
      @media (max-width: 299px) {
        max-width:84%;
      }
      @media (min-width: 300px ) and (max-width: 345px) {
        max-width: 86%;
      }
      @media (min-width: 346px ) and (max-width: 420px) {
        max-width: 88%;
      }
      @media (min-width: 421px ) and (max-width: 453px) {
        max-width: 90%;
      }
      @media (min-width: 454px ) and (max-width: 493px) {
        max-width: 91%;
      }
      @media (min-width: 494px ) and (max-width: 515px) {
        max-width: 81%;
      }
      @media (min-width: 516px ) and (max-width: 575px) {
        max-width: 82%;
      }
      @media (min-width: 576px ) and (max-width: 711px) {
        max-width: 83%;
      }
      @media (min-width: 712px ) and (max-width: 767px) {
        max-width: 93%;
      }
      @media (min-width: 768px ) and (max-width: 943px) {
        max-width: 94%;
      }
      @media (min-width: 944px ) and (max-width: 1175px) {
        max-width: 80%;
      }
      @media (min-width: 1176px ) and (max-width: 1280px) {
        max-width: 82%;
      }
      @media (min-width: 1280px) and (max-width: 1407px){
        max-width: 83%;
      }
      @media (min-width: 1408px) and (max-width: 1700px){
        max-width: 85%;
      }
      @media (min-width: 1701px){
        max-width: 87%;
      }
    }
    img {
      @media (max-width: 338px) {
        left: 6%;
      }
      @media (min-width: 339px ) and (max-width: 493px) {
        left: 4.5%;
      }
      @media (min-width: 494px ) and (max-width: 575px) {
        left: 9%;
      }
      @media (min-width: 576px ) and (max-width: 711px) {
        left: 7%;
      }
      @media (min-width: 712px ) and (max-width: 943px) {
        left: 3%;
      }
      @media (min-width: 944px ) and (max-width: 1055px) {
        left: 8%;
      }
      @media (min-width: 1056px ) and (max-width: 1175px) {
        left: 9%;
      }
      @media (min-width: 1176px) and (max-width: 1407px){
        left: 7%;
      }
      @media (min-width: 1408px) {
        left: 6%;
      }
    }
  }
}



.six_last_child {
  .button-m {
    @media (min-width: 992px) {
      max-width: 96%;
      min-width: 96%;
    }
    .form-control {
      @media (max-width: 299px) {
        max-width:84%;
      }
      @media (min-width: 300px ) and (max-width: 345px) {
        max-width: 85%;
      }
      @media (min-width: 346px ) and (max-width: 420px) {
        max-width: 88%;
      }
      @media (min-width: 421px ) and (max-width: 453px) {
        max-width: 90%;
      }
      @media (min-width: 454px ) and (max-width: 493px) {
        max-width: 91%;
      }
      @media (min-width: 494px ) and (max-width: 515px) {
        max-width: 81%;
      }
      @media (min-width: 516px ) and (max-width: 575px) {
        max-width: 83%;
      }
      @media (min-width: 576px ) and (max-width: 711px) {
        max-width: 81%;
      }
      @media (min-width: 712px ) and (max-width: 767px) {
        max-width: 80%;
      }
      @media (min-width: 768px ) and (max-width: 943px) {
        max-width: 78%;
      }
      @media (min-width: 944px ) and (max-width: 991px) {
        max-width: 80%;
      }
      @media (min-width: 992px) and (max-width: 1700px){
        max-width: 90%;
      }
      @media (min-width: 1701px){
        max-width: 90%;
      }
    }
    img {
      @media (max-width: 338px) {
        left: 7%;
      }
      @media (min-width: 339px ) and (max-width: 493px) {
        left: 4%;
      }
      @media (min-width: 494px ) and (max-width: 575px) {
        left: 9%;
      }
      @media (min-width: 576px ) and (max-width: 711px) {
        left: 8%;
      }
      @media (min-width: 712px ) and (max-width: 767px) {
        left: 8%;
      }
      @media (min-width: 768px ) and (max-width: 991px) {
        left: 8%;
      }
      @media (min-width: 992px ) and (max-width: 2000px) {
        left: 5%;
      }
      @media (min-width: 2001px) {
        left: 5%;
      }
    }
  }
  .dropdown-s-nm {
    @media (min-width: 712px) and (max-width: 943px){
      max-width: 95%!important;
      min-width: 95%!important;
    }
    @media (min-width: 944px) and (max-width: 1175px){
      max-width: 97%!important;
      min-width: 97%!important;
    }
    @media (min-width: 1176px) and (max-width: 1407px){
      max-width: 99%!important;
      min-width: 99%!important;
    }
    .form-control {
      @media (max-width: 299px) {
        max-width:84%;
      }
      @media (min-width: 300px ) and (max-width: 345px) {
        max-width: 86%;
      }
      @media (min-width: 346px ) and (max-width: 420px) {
        max-width: 88%;
      }
      @media (min-width: 421px ) and (max-width: 453px) {
        max-width: 90%;
      }
      @media (min-width: 454px ) and (max-width: 493px) {
        max-width: 91%;
      }
      @media (min-width: 494px ) and (max-width: 515px) {
        max-width: 81%;
      }
      @media (min-width: 516px ) and (max-width: 575px) {
        max-width: 82%;
      }
      @media (min-width: 576px ) and (max-width: 711px) {
        max-width: 81%;
      }
      @media (min-width: 712px ) and (max-width: 767px) {
        max-width: 76%;
      }
      @media (min-width: 768px ) and (max-width: 943px) {
        max-width: 81%;
      }
      @media (min-width: 944px ) and (max-width: 1175px) {
        max-width: 90%;
      }
      @media (min-width: 1176px ) and (max-width: 1280px) {
        max-width: 96%;
      }
      @media (min-width: 1280px) and (max-width: 1407px){
        max-width: 96.5%;
      }
      @media (min-width: 1408px) and (max-width: 1700px){
        max-width: 79%;
      }
      @media (min-width: 1701px){
        max-width: 83%;
      }
    }
    img {
      @media (max-width: 338px) {
        left: 6%;
      }
      @media (min-width: 339px ) and (max-width: 493px) {
        left: 4.5%;
      }
      @media (min-width: 494px ) and (max-width: 575px) {
        left: 9%;
      }
      @media (min-width: 576px ) and (max-width: 711px) {
        left: 9%;
      }
      @media (min-width: 712px ) and (max-width: 943px) {
        left: 7%;
      }
      @media (min-width: 944px ) and (max-width: 1055px) {
        left: 5%;
      }
      @media (min-width: 1056px ) and (max-width: 1175px) {
        left: 4%;
      }
      @media (min-width: 1176px) and (max-width: 1407px){
        left: 1.5%;
      }
      @media (min-width: 1408px) {
        left: 8%;
      }
    }
  }
}
.next_to_last_child {
  .button-m {
    @media (min-width: 992px) {
      max-width: 96%;
      min-width: 96%;
    }
  }
  .button-nm {
    @media (min-width: 944px) and (max-width: 1175px){
      max-width: 97%!important;
      min-width: 97%!important;
    }
  }
}
#dates + .map-el {
  margin-top:7px;
}

.map-el + script +.container-list .total-filter {
  margin-top: 15px!important;
}

#dates {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 8px;
  font-size: 14px;
  @include media-breakpoint-up(sm) {
    font-size: 16px;
  }

  .date-btn {
    display: table;
    margin: auto;
  }

  .button {
    margin-bottom: 8px;
    border-radius: 2px;
    @media (max-width: 494px) {
      flex: 0 0 calc(50% - 10px)!important; 
    }
    // @include media-breakpoint-down(lg) {
    //   margin-bottom: 15px;
    //   flex: 0 0 calc(20% - 20px)!important; 
    // }
  }

  .date-filter {
    background-color: #fff;
    border-radius: 2px;
    padding: 5px;
    height: 40px;

    @include media-breakpoint-up(sm) {
      padding: 10px;
      height: 50px;
    }
    &:hover {
      background-color: #fafafa;
    }
  }

  .agenda-filter-date-week-day {
    font-weight: 600;
    color: #000;
    margin-right: 3px;
  }

  .agenda-filter-date-month-day {
    color: #000;
    margin-right: 3px;
    font-size: 20px;
    @include media-breakpoint-up(sm) {
      font-size: 22px;
    }
  }

  .agenda-filter-date-month {
    color: #495057;
  }
}
// #dates,
// .map {
//   margin-right: 10px!important;
//   margin-left: 10px!important;
// }