.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: none!important;
  outline: none!important;
  border: 1px solid #00000026;
}
.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
  background-color: white;
}

.sidebar-wrapper {
  background-color: white;
  .filters {
    margin-top: 15px;
  }
  .dropdown-toggle {
    min-width: 100%;
    border-radius: 2px;
    border: none;
    background-color: white;
    height: 40px;
    @include media-breakpoint-up(sm) {
      height: 50px;
    }
    @media (min-width: 576px) {
      max-width: 95%;
      min-width: 95%;
    }
    &::after {
      display: none;
    }
    p {
      font-size: 14px;
      color: black;
      @include media-breakpoint-up(sm) {
        font-size: 16px;
      }
    }
    img {
      width: 16px;
      @include media-breakpoint-up(sm) {
        width: auto;
      }
    }
    
  }
  #calendar,
  #city,
  #participation,
  #keywords {
    .dropdown-toggle {
      @media (min-width: 768px) and (max-width: 991px) {
        padding-left: 10px;
      }
    }

  }

  #calendar,
  #city,
  #participation,
  #keywords,
  #searchbar {
    margin-bottom: 8px;
    @include media-breakpoint-up(sm) {
      margin-bottom: 15px;
    }
  }
  #searchbar {
    img {
      position: absolute;
      top: 10px;
      @media (max-width: 338px) {
        left: 7%;
      }
      @media (min-width: 339px ) and (max-width: 490px) {
        left: 5%;
      }
      @media (min-width: 491px ) and (max-width: 762px) {
        left: 4%;
      }
      @media (min-width: 763px ) and (max-width: 1055px) {
        left: 8%;
      }
      @media (min-width: 1056px ) and (max-width: 2000px) {
        left: 5%;
      }
      @media (min-width: 2001px) {
        left: 6%;
      }
    }
    .dropdown-toggle {
      margin-right: auto;
      margin-left: auto;
      max-width: 100%;  
      div {
        .input-group {
          margin: 0px!important;
          justify-content: end;
          .form-control {
            height: 39px;
            max-width: 78%;
            border: none;
            background: none;
            box-shadow: none;
            @include media-breakpoint-up(sm) {
              height: 49px;
            }
            &::-webkit-search-decoration,
            &::-webkit-search-cancel-button,
            &::-webkit-search-results-button,
            &::-webkit-search-results-decoration {
              display: none;
            }
            @media (max-width: 299px) {
              max-width:84%;
            }
            @media (min-width: 300px ) and (max-width: 345px) {
              max-width: 85%;
            }
            @media (min-width: 346px ) and (max-width: 420px) {
              max-width: 88%;
            }
            @media (min-width: 421px ) and (max-width: 453px) {
              max-width: 88%;
            }
            @media (min-width: 454px ) and (max-width: 539px) {
              max-width: 90%;
            }
            @media (min-width: 540px ) and (max-width: 575px) {
              max-width: 92%;
            }
            @media (min-width: 576px ) and (max-width: 767px) {
              max-width: 83%;
            }
            @media (min-width: 768px ) and (max-width: 991px) {
              max-width: 76%;
            }
            @media (min-width: 992px ) and (max-width: 1280px) {
              max-width: 80%;
            }
            @media (min-width: 1280px) and (max-width: 1700px){
              max-width: 81%;
            }
            @media (min-width: 1701px){
              max-width: 84%;
            }
            &::placeholder {
              color: black;
              margin-left: 16px;
              font-size: 14px;
              @include media-breakpoint-up(sm) {
                font-size: 16px;
              }
            }
          }
          .input-group-append {
            display: none;
          }
        }
      }
    }
  }
  li.show {
    min-width: 100%;
    @media (min-width: 576px ) {
      max-width: 150%;
      min-width: 95%;
    }
    .form-control {
      display: none;
    }
    .checkbox {
      margin: 0px 22px;
      width: auto;
      .oa-choice-option-label {
        font-size: 14px;
        span {
          margin-left: 10px;
          font-size: 12px;
        }
      }
    }
    .btn {
      font-size: 14px;
      padding: 6px 0;
      margin: 0px 22px;
    }
  }
}

//Style if only one search bar
.sidebar-wrapper {
  #searchbaronly {
    margin-bottom: 15px;
    img {
      position: absolute;
      top: 10px;
      @media (max-width: 338px) {
        left: 7%;
      }
      @media (min-width: 339px ) and (max-width: 490px) {
        left: 5%;
      }
      @media (min-width: 491px ) and (max-width: 762px) {
        left: 5%;
      }
      @media (min-width: 768px ) and (max-width: 1055px) {
        left: 5%;
      }
      @media (min-width: 1056px ) and (max-width: 2000px) {
        left: 6%;
      }
      @media (min-width: 2001px) {
        left: 6%;
      }
    }
    .dropdown-toggle {
      margin-right: auto;
      margin-left: auto;
      max-width: 70%;
    
      div {
        .input-group {
          margin: 0px!important;
          justify-content: end;
          .form-control {
            height: 39px;
            max-width: 78%;
            border: none;
            background: none;
            box-shadow: none;
            @include media-breakpoint-up(sm) {
              height: 49px;
            }
            &::-webkit-search-decoration,
            &::-webkit-search-cancel-button,
            &::-webkit-search-results-button,
            &::-webkit-search-results-decoration {
              display: none;
            }
            @media (max-width: 299px) {
              max-width:84%;
            }
            @media (min-width: 300px ) and (max-width: 345px) {
              max-width: 85%;
            }
            @media (min-width: 346px ) and (max-width: 420px) {
              max-width: 88%;
            }
            @media (min-width: 421px ) and (max-width: 453px) {
              max-width: 88%;
            }
            @media (min-width: 454px ) and (max-width: 539px) {
              max-width: 90%;
            }
            @media (min-width: 540px ) and (max-width: 575px) {
              max-width: 92%;
            }
            @media (min-width: 576px ) and (max-width: 767px) {
              max-width: 89%;
            }
            @media (min-width: 768px ) and (max-width: 1280px) {
              max-width: 91%;
            }
            @media (min-width: 1280px) and (max-width: 1700px){
              max-width: 89%;
            }
            @media (min-width: 1701px){
              max-width: 89%;
            }
            &::placeholder {
              color: black;
              margin-left: 16px;
              font-size: 14px;
              @include media-breakpoint-up(sm) {
                font-size: 16px;
              }
            }
          }
          .input-group-append {
            display: none;
          }
        }
      }
    }
  }
}