<a
  role="button"
  href="https://openagenda.com/{{agenda.slug}}/contribute"
  class="btn btn-primary {{#unless @root.styles.noShadows}}shadow{{/unless}}"
  target="_blank"><img class="oa-logo mr-2" src="/apple-touch-icon.png" alt="logo open agenda">{{#if @root.config.contribute.label}}{{@root.config.contribute.label}}{{else}}{{i18n 'contribute'}}{{/if}}</a>
