<a
  role="button"
  href="https://openagenda.com/{{agenda.slug}}/contribute"
  class="btn btn-primary {{#unless @root.styles.noShadows}}shadow{{/unless}}"
  target="_blank"><img class="oa-logo mr-2" src="/apple-touch-icon.png" alt="logo open agenda">{{i18n 'contribute'}}</a>
