<a
  role="button"
  href="https://openagenda.com/{{agenda.slug}}?displayExportModal=1"
  class="btn btn-primary {{#unless @root.styles.noShadows}}shadow{{/unless}}"
  target="_blank"><img class="oa-logo mr-2" src="/export.svg" alt="logo open agenda">{{i18n 'export'}}</a>
