<a
  role="button"
  href={{@root.config.extraButton.buttonLink}}
  class="btn btn-primary {{#unless @root.styles.noShadows}}shadow{{/unless}}"
  target="_blank">{{@root.config.extraButton.buttonLabel}}</a>
