{{#if @root.styles.listDisplay.lineType}}
<main role="main">
  <div>
    {{#each events}}
      <div class="featured-{{featured}} js_progressive_load_disabled">{{>event.itemLine}}</div>
    {{/each}}
  </div>
</main>
  
{{else}}
<main role="main">
  <div class="row d-flex mt-2 mt-md-3">
    {{#each events}}
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 featured-{{featured}} list-unstyled js_progressive_load_disabled d-flex" >{{>event.item}}</div>
    {{/each}}
  </div>
</main>
{{/if}}

<div class="mt-4">
  <div>{{>pagination}}</div>
</div>

<style>
  .js_coeur {
    display: {{#if hasActiveFilter}}none!important{{else}}flex!important{{/if}}
  }
</style>
