{{>layout.top}}
<div class="{{#if @root.styles.noMargin}}px-3 py-1{{else}}container{{/if}}">
  <main role="main">
    <div class="row d-flex py-3">
      {{#each events}}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 featured-{{featured}} list-unstyled js_progressive_load_disabled d-flex" >
          {{>event.item this isPreview="1"}}
        </div>
      {{/each}}
    </div>
    {{#if @root.styles.preview.displayListBtn}}
      <div class="col text-center">
        <p href="{{@root.styles.preview.linkListBtn}}" class="btn prev-btn" target="_blank" id="listBtn">{{i18n 'backToListPreview'}}</p>
      </div>
    {{/if}}
  </main>
</div>
{{>layout.bottom}}


<script>
  document.addEventListener("DOMContentLoaded", function() {
    var listBtn = document.getElementById("listBtn");

    listBtn.addEventListener("click", function(event) {
      event.preventDefault();
      window.open(listBtn.getAttribute("href"), "_blank");
    });
  });
</script>