{{>layout.top}}
<div class="{{#if @root.styles.noMargin}}px-3{{else}}container{{/if}}">
  <main role="main">
    <div class="row d-flex mt-2 mt-md-3">
      {{#each events}}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 featured-{{featured}} list-unstyled js_progressive_load_disabled d-flex" >
          {{>event.item this isPreview="1"}}
        </div>
      {{/each}}
    </div>
  </main>
</div>
{{>layout.bottom}}
