{{>layout.top}}
<div class="{{#if @root.styles.noMargin}}px-3 py-1{{else}}container{{/if}}">
  <main role="main">
    <div class="row d-flex py-3">
      {{#each events}}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 featured-{{featured}} list-unstyled js_progressive_load_disabled d-flex" >
          {{>event.item this isPreview="1"}}
        </div>
      {{/each}}
    </div>
    {{#if @root.styles.preview.displayListBtn}}
      <div class="col text-center">
        <a href="{{@root.styles.preview.linkListBtn}}" class="btn prev-btn" target="_blank">{{i18n 'backToListPreview'}}</a>
      </div>
    {{/if}}
  </main>
</div>
{{>layout.bottom}}
