{{#if event.registration.link}}
<button class="registration {{#unless @root.styles.noShadows}}shadow{{/unless}}"><a href="{{event.registration.link.[0].value}}" target="_blank">S'inscrire / réserver</a></button>
{{/if}}