
<html>
  <body>
    <iframe
      data-oa-portal="http://localhost:3000"
      data-scroll-offset="0"
      allowtransparency="allowtransparency"
      frameborder="0"
      data-lang="fr"
      data-pre="search=Halloween"
    ></iframe>
    <script 
      type="text/javascript"
      src="http://localhost:3000/js/oaPortalController.js"
    ></script>
  </body>
</html>
<!--data-oa-portal="https://integration-std-mel.jcloud.ik-server.com"-->